<div class="header-button-item has-noti js-item-menu">

	<i class="{% if notification is not null %} zmdi {% endif %} zmdi-notifications"></i>
	{% if notification is not null %}
		<div class="notifi-dropdown js-dropdown">
			<div class="notifi__title">
				<p>You have
					{{ notification|length }}
					Notifications</p>
			</div>

			{% for notif in notification|slice(0, 3) %}

				<div class="notifi__item">
					<div class="bg-c2 img-cir img-40">
						<i class="zmdi zmdi-account-box"></i>
					</div>
					<div class="content">
						<p>{{notif.message}}</p>
						{# <span class="date">April 12, 2018 06:50</span> #}
					</div>
				</div>
			{% endfor %}
			<div class="notifi__footer">
				<a href="/notifications">All notifications</a>
			</div>
		</div>
	{% endif %}
</div>
